@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-gambetta: "Gambetta", serif;
  --font-gt-super: "GT Super Display", serif;
  --font-switzer: "Switzer", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  font-family: var(--font-gambetta);
  color: #22334f;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  outline: none;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  cursor: pointer;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.font-gambetta {
  font-family: var(--font-gambetta);
}

.font-switzer {
  font-family: var(--font-switzer);
}
.font-gt-super {
  font-family: var(--font-gt-super);
}
.containers {
  @apply px-6 lg:px-12 xl:px-14;
}
.leading-main {
  @apply leading-[118.423%];
}
.main-heading {
  @apply text-main text-[40px] md:text-5xl lg:text-6xl font-medium leading-[141%];
}

/* Modal */
.modal {
  margin: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  z-index: 101;
}
.footer-grad {
  background: url(/common/footer_bg.svg) 40% no-repeat,
    linear-gradient(180deg, #161616 0%, #22334f 100%);
}

.serviceBg {
  background: url(/Home/servicesOg.svg);
  background-repeat: no-repeat;
  background-size: 28% auto;
  background-position: -3% center;
}
.contactBg {
  background: url(/common/contact.svg) center no-repeat, #22334f;
}

.bg-service {
  background: url(/common/footer_bg.svg) center no-repeat, #22334f;
  background-position: 140% 20%;
}
.careersbg {
  background: url(/common/careers_bg.svg) center no-repeat;
  background-position: 100% 150%;
}
.eventsbg {
  background: url(/common/eventsbg.svg) center no-repeat, #eae4d6;
  background-position: 100% auto;
  background-size: contain;
}
.homeBGSection1 {
  background: url(/Home/TheGroupLabel.svg), #22334f;
  background-repeat: no-repeat;
  background-size: 30% auto;
  background-position: -15%;
}
.worksBG {
  background: url(/common/worksBG.svg) center no-repeat;
  background-position: center center;
}

@layer components {
  .event-tab {
    @apply font-switzer text-sm  relative pb-5  text-center  uppercase leading-[118.423%];
  }

  .event-tab.active::after {
    content: "";
    @apply absolute bottom-0 left-0 -translate-x-0 w-full h-[2px] bg-[#22334f];
  }

  .event-card {
    @apply flex flex-col;
  }

  .event-card-large {
    @apply col-span-2 row-span-1;
  }

  .event-meta {
    @apply flex items-center text-sm md:text-base font-medium text-main gap-x-2;
  }
}
.country:nth-child(5) {
  @apply border-r border-main border-opacity-20;
}
.country:nth-child(3) {
  @apply border-r border-main border-opacity-20;
}
/* .swiper-slide-next .slide-content {
  margin-top: 100px;
}
.swiper-slide-next .slide-content p {
  order: -1;
} */

@media (max-width: 768px) {
  .contactBg {
    background: none;
  }
  .footer-grad {
    background: linear-gradient(180deg, #161616 0%, #22334f 100%);
  }
  .eventsbg {
    background: linear-gradient(
      360deg,
      #eae4d6 0%,
      rgba(234, 228, 214, 0) 100%
    );
  }
  .careersbg {
    background: none;
  }
  .bg-service {
    background-position: center 10%;
  }
  .homeBGSection1 {
    background-position: -5% 10%;
    background-size: 40%;
  }
  .serviceBg {
    background-position: -33% 10%;
    background-size: 70%;
  }
}
.home-grad {
  background: linear-gradient(180deg, rgba(34, 51, 79, 0) 0%, #22334f 100%);
}
